{% extends 'base.html' %}

{% block title %}
All results
{% endblock %}

{% block body %}
<main class="container mx-auto w-1/2 py-10 pt-20 flex justify-center space-x-5 flex-row flex-wrap">
{% for element in book %}
<div class="container basis-1/4 flex justify-between">
    <a class="" href="/{{ element.work_id }}">
        <div class="p-2"><img srcset="{{ element.img_path }}" width="200" height="315"></div>
        <div class="p-2 text-white hover:underline">{{ element.all_autor_rusname }}</div>
        <div class="p-2 text-white hover:underline">{{ element.fullname}}</div>
    </a>>
</div>
{% endfor %}
</main>
{% endblock %}