<!DOCTYPE html>
<html lang="ru" class="dark">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            mainColor: '#050C2A',
          },
          padding: {
            big: '50px',
          }
        }
      }
    }
  </script>

    <title>{% block title %}{% endblock %}</title>
</head>
<body class="bg-mainColor">
<div class="container mx-auto flex justify-between pt-10 text-white">
    <a href="/" class="hover:underline font-bold text-3xl">BookFinder</a>
    <div class="">
        <a href="/all_result" class="bg-yellow-500 py-2 px-5 rounded-full hover:bg-yellow-600">All Results</a>
    </div>
</div>
{% block body %}{% endblock %}
</body>
</html>