{% extends 'base.html' %}

{% block title %}
{{ full_info.fullname }}
{% endblock %}

{% block body %}
<main class="container mx-auto py-10 pt-20 flex justify-between">
    <div class="container">
        <div class="p-2"><img srcset="{{ full_info.img_path }}" width="200" height="315"></div>
        <div class="p-2 text-white hover:underline">{{ full_info.all_autor_rusname }}</div>
        <div class="p-2 text-white hover:underline">{{ full_info.fullname }}</div>
    </div>
    <div>
        <div class="text-white">{{ full_info.description }}</div>
    </div>
</main>
{% endblock %}