{% extends 'base.html' %}

{% block title %}
Books choose
{% endblock %}

{% block body %}
<div class="container flex justify-center text-3xl pt-48">
<form method="post" class="space-y-0.25">
    <input type="text" name="work_name" id="work_name" class="pl-4 form-control block bg-white w-full rounded-full border border-slate-300 placeholder:text-slate-300 placeholder:italic" placeholder="Search word"><br>
    <input type="submit" class="bg-red-500 px-2 rounded-full hover:bg-red-600" value="Send">
</form>
</div>
{% endblock %}