{% extends 'base.html' %}

{% block title %}
Login page
{% endblock %}

{% block body %}

<div class="container flex flex-row py-40 justify-items-center justify-center">
    <div class="text-white px-5 py-5">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
        {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
    </div>
    <form class="" method="post">
        <div class="">
            <div class="pb-1">
                <input type="text" name="login">
            </div>
            <div>
                <input type="password" name="password">
            </div>
            <div class="flex space-x-10">
                <a href="{{ url_for('registration') }}" style="color:yellow">Registration</a>
                <input type="submit" class="bg-red-500 px-2 rounded-full hover:bg-red-600" value="Login">
            </div>
        </div>
    </form>
</div>
{% endblock %}