{% extends 'base.html' %}

{% block title %}
Registration page
{% endblock %}

{% block body %}
<div class="text-white">
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
</div>
<form method="post">
    <table>
        <tr>
            <td class="text-white">Login</td>
            <td><input type="text" name="login"></td>
        </tr>
        <tr>
            <td class="text-white">Password</td>
            <td><input type="password" name="password"></td>
        </tr>
        <tr>
            <td class="text-white">Retype password</td>
            <td><input type="password" name="password2"></td>
        </tr>
        <tr>
            <td><a href="{{ url_for('login') }}">Login</a></td>

            <td><input type="submit" value="Registration"></td>
        </tr>
    </table>
</form>
{% endblock %}