{% extends 'base.html' %}

{% block title %}
Search results
{% endblock %}

{% block body %}
<main class="container mx-auto w-1/2 py-10 pt-20 flex justify-center space-x-5 flex-row flex-wrap">
{% for element in result %}
<div class="container basis-1/4 flex justify-between">
    <a class="" href="/{{ element.work_id }}">
        <div class="p-2"><img srcset="/static/img/{% if element['image']==None %}default{% else %}{{ element['work_id'] }}{% endif %}.jpeg" width="200" height="315"></div>
        <div class="p-2 text-white hover:underline">{{ element[1] }}</div>
        <div class="p-2 text-white hover:underline">{{ element[3] }}</div>
    </a>>
    <form method="post">
        <input name="{{ element['work_id'] }}" id="work_id" type="submit" class="bg-red-500 px-2 rounded-full hover:bg-red-600" value="Save">
    </form>
    <form action='/simmilars.html' class="pt-4" method="post">
        <input name="{{ element['work_id'] }}" id="id_for_simmilar" type="submit" class="bg-yellow-500 px-2 rounded-full hover:bg-yellow-600" value="Simmilars">
    </form>
</div>
{% endfor %}
</main>
{% endblock %}