{% extends 'base.html' %}

{% block title %}
Search results
{% endblock %}

{% block body %}
<p class="justify-center container mx-auto flex text-white font-bold text-3xl">Simmilars to (TODO)</p>
<main class="container mx-auto w-1/2 py-10 pt-20 flex justify-center space-x-5 flex-row flex-wrap">
{% for element in simmilars %}
<div class="container basis-1/4 flex justify-between">
    <a class="" href="/{{ element.work_id }}">
        <div class="p-2"><img src="/static/img/{% if element['image']==None %}default{% else %}{{ element['id'] }}{% endif %}.jpeg" width="200" height="315"></div>
        <div class="p-2 text-white hover:underline">{{ element['title'] }}</div>
    </a>>
    <form method="post">
        <input name="{{ element['id'] }}" id="work_id" type="submit" class="bg-red-500 px-2 rounded-full hover:bg-red-600" value="Save">
    </form>
</div>
{% endfor %}
</main>
{% endblock %}